body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navLink {
    text-decoration: none;
    color: #111;
}

.navLink:focus {
    color: #5353ff;
}

footer {
    background-color: #eaeaea;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 1rem;
}

.active {
    color: #5353ff;
}

a {
    text-decoration: none;
    color: #111;
    font-size: larger;
}

.aside {
    background-color: rgb(195, 225, 255) !important;
}

.activeTab {
    color: blue;
}

.sideBar {
    display: flex;
    justify-content: space-between;
}